<html>
  <head>
    <title>COMPONENTS</title>
    <!-- LINK TO EXTERNAL .CSS FILE--> 
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/grid.css">    
    <!-- LINK TO AMAZON EMBER FONT--> 
    <link href="https://fonts.cdnfonts.com/css/amazon-ember" rel="stylesheet">
  </head>

  <body>

<!--outer-->
  <div class="outer">
      <!-- TOP NAVIGATION--> 
      <div class="topnav">TOP NAVIGATION</div>
      <!-- end TOP NAVIGATION-->


      <!--page-->
    <div class="page"> 
        <div class="hero_container">
        <div class="row">
            <div class="col-12">COL-12 here adds spacing to view hero image in hero container</div>
        </div>
<!-- row of boxes with padding--> 
        <div class="row">
            <div class="col-3" >
                <div class="box">
                    <div class="boxtitle">Warehouse Hell</div>
                    <div class="single singleimg1"></div>
                    <div class="boxfooter">More details</div>                    
                </div>
            </div>
            <div class="col-3"  >
                 <div class="box">
                    <div class="boxtitle">Billionaire Hubris</div>
                    <!-- this was an attempt at having another box inside boxtitle, broken into quarters--> 
                    <div class="quarter">
                          <!--
                        <div class="quarterimg1">HELLO</div>
                        <div class="quarterimg1">HELLO</div>
                        <div class="quarterimg1">HELLO</div>
                        <div class="quarterimg1">HELLO</div>   
                        -->
                      
                     <div class="row" >
                         <div class="col-6 quarterimg1 "></div>
                         <div class="col-6 quarterimg2"></div> 
                      </div>              
                     <div class="row" >
                         <div class="col-6 quarterimg3"></div>
                         <div class="col-6 quarterimg4"></div>
                     </div>


                      </div>                         
                     <div class="boxfooter">Learn more</div> 
                 
                 </div>           
                
            </div>

            <div class="col-3"  >
                <div class="box">
                    <div class="boxtitle">Wage Theft</div>
                    <div class="split">
                        <div class="split_top split_topimg"></div>
                        <div class="split_middle"></div>
                        <div class="split_bottom split_bottomimg"></div>
                    </div>                         
                     <div class="boxfooter">Learn more</div> 
                </div>

            </div>
            <div class="col-3"  >
               <div class="box">
               <div class="boxtitle">Fight Back</div>
                     <div class="brand brandimg"></div>

                </div>
            </div>
        </div>
  <!-- another row --> 
        <div class="row">
            <div class="col-12">
                <div class="scroll_title">Union Busting is Disgusting</div>
                <div class="scroll"></div>
            </div>
        </div>        
      </div>
      <!-- end HERO-->
   </div>
  <!--end--page-->
</div>
 <!--end--outer-->
  </body>
</html>